mat-toolbar {
  display:flex;
  justify-content: space-between;
  padding:0 64 px;
  a{
    text-decoration:overline;
    &.active-link {
      color: white;

    }
    span{
      padding-bottom: 24px;
      padding-right: 25px;
    }
  }

}

